@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-size: calc(16px + 0.5vw + 0.5vh);
  font-family: "Roboto Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.2;
  box-sizing: border-box;
  outline: none;
  border: none;
}
